.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px 32px;
}

.header_container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text_header{
    font-weight: bold;
}

.text_container{
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.icon{
    color:white;
}

.search_icon{
    margin-left: 10px;
    cursor: pointer;
}

.category_search_input{
     width: 150px;
     border-width: 1px;
     height: 25px;
     border-radius: 30px;
     padding-left: 10px;
     font-size: 12pt;
}

.bold{
 font-weight: bold;
}

.fontsize12pt{
 height:60px;
 align-items: center;
 display: flex;
}


