.lyric_body_container2{
    display:flex;
    height: 700px;
}

.lyric_container{
    flex:2;
    display:flex;
    height: 700px;
    flex-direction: column;
}
.lyric_body_container1{
    display: flex;
    flex-direction: column;
    flex:1;
}

.lyric_container1{
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 12px;
    display: flex;
    width: '100%';
    flex-direction: column;
}

.lyricPlacehorderPhoto_container{
    flex-direction: column;
    display: flex;
    margin-top: 20px;
}

.lyricPlacehorderPhoto_container1{
    position: relative;
    align-self: center;
    flex-direction: row; 
    margin-right: 16px;
    display:flex;
}